<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
  <title>Tracking Interconnected Facebook Nodes</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="{% static 'js/bootstrap.min.css' %}" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Tracking Interconnected Facebook Nodes - A Visualisation</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li ><a href="/friend-network/">Friend Network Chart</a></li>
        <li><a href="/word-chart/">Word Chart</a></li>
      </ul>
    </div>
  </nav>

  <section class = "container">
    <div class = "row">
      <figure class="col-lg-5">
        <h2 class ="text-center">Friend Graph</h2>
        <a href="/friend-network/"><img src ="{% static 'images/vis1.PNG' %}"></a>
      </figure>
      <figure class="col-lg-1">
      </figure>
      <figure class="col-lg-5">
        <h2 class = "text-center">Word Bubble Chart</h2>
        <a href="/word-chart/"><img  src ="{% static 'images/vis2.PNG' %}"></a>
      </figure>
    </div>
  </section>


  <div class = "footer navbar-fixed-bottom container-fluid">
    <p class="text-muted credit">&copy 2016 Tracking Interconnected Facebook Nodes</p>
  </div>

</body>
</html>
